body{
    font-family: "Lora",serif;
}


header{

background-color: #008000;
padding: 1rem 10px;
}

header span{
color: #800080;
    font-size: 1.6rem;
    font-weight: 700;
}


/* small screen navigation */
@media only screen and (max-width:800px) {

nav ul {
    margin: 0;
    padding: 0;
}
nav a {
    display: block;
    text-align: center;
    padding: .8rem;
    color: #008000;
    text-decoration: none;
    border-bottom: solid 1px #eee;
    font-weight: 700;
    text-transform: uppercase;
}

    nav .active a {
        background-color: #F2b705;
        color: white;
        background-image: linear-gradient(to bottom,#e004e0f6,#800080d3 );
    }

} /* end small screens */


/* LARGE SCREEN NAVIGATION*/
@media only screen and (min-width:801px) {
nav{
    background-color:#F2b705;

}

nav ul {
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    display: flex;
}

nav a {
    display: block;
    padding: .83rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: #024873;
    font-weight: 700;
}

nav li.active a {
    background-color:#800080 ;
    color: #F2b705;
}

nav li a:hover {
    color: white;

}


} /* end LARGE screens */







    main{
       padding: 1rem 10px; 
    }

    main h1{
        color: #800080;
    }

    main h2{
        color: #800080;
        margin-bottom: .2rem;
    }
    main p{
        margin: 0;
        color: #333;
    }
    main ol{
        padding: .5rem 30px;
        background-color: #008000;
    }

    main dl dt{
        color: #008000;
        font-weight: 700;
        margin-top: 1rem;
    }

    main dl dd{
        color: #008000;
        font-size: .9rem;
        margin-left: 20px;
    }
    main ul{
        list-style-type: circle;
    }
    main ul li{
        line-height: 125%;
        margin-bottom: .5rem;
        font-size: .9rem;
    }
    main strong{
        font-weight: 700;
        color: purple;   
    }
    main em{
        font-weight: 300;
    }
    main address {
        font-style: normal;
        background-color: #F2b705;
        padding: .5rem;
        border-radius: 10px;
        border: 1px solid #024873;
        width: 200px;    
    }
    main a {
        color: #024873;
    }
    main a:hover {
        color: rgb(180, 4, 18);
    }

    .spoke {
    width: 60%;
    height: auto;
}

    figure.wrapped {
        margin: 0 0 0 10px;
        width: 40%;
        float: right;
    }
    figure.wrapped img {
        width: 100%;
        height: auto;
    }
    figure.wrapped figcaption {
        text-align: center;
        font-size: .75rem;
    }

.myForm fieldset {
    border: 1px solid #008000;
    border-radius: 3px;
    margin-bottom: 1rem;
}
.myForm legend {
    color: #008000;
    font-size: .8rem;
}
.myForm label {
    margin: .5rem;
}
.myForm label, .myForm select, .myForm [type=text], .myForm [type=tel],.myForm textarea {
    display: block;
}

.myForm [type=text], .myForm [type=tel], .myForm select,.myForm textarea {
    border: solid 1px green;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 200;
}
.myForm textarea {
    height: 6rem;
}

.myForm :required {
    background-color: rgba(156, 51, 53, 0.1);
}

.myForm [type=submit] {
    background-color: #008000;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
    margin: 1rem 0 0 1vw;

    border-radius: 5px;
}

div.gallery img:hover {
box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

    footer {
        background-color: #008000;
        text-align: center;
        padding: 1rem 0;
        font-size: .8rem;
        color: #000000;
    }
    footer p {
        margin: 0;
        letter-spacing: 3px;
    }

    header, nav, main, footer {
    max-width: 150rem;
    margin: 0 auto;
}